@using MasterMealBlazor.Enums
@using MasterMealBlazor.Services.Interfaces
@using MasterMealBlazor.Components.QIngredientComponents
@page "/qingredient/Create"
@inject IDbContextFactory<ApplicationDbContext> ContextFactory
@inject IIngredientService ingredientService
@inject NavigationManager navigationManager
<h3>Ingredient Create</h3>
@if (ingredients == null && qIngredient is null)
{
    <p>loading</p>
}
else
{
    <div>
        <EditForm Model="@qIngredient" OnValidSubmit="CreateQIngredient">
            <label>Shopping Notes:</label>
            <input @bind-value="qIngredient.Notes" />
            <label>Ingredient Name</label>
            <InputSelect ValueExpression="@(()=>qIngredient.IngredientId)" Value="@qIngredient.IngredientId" ValueChanged="@((int id)=>TypeChange(id))">
                @foreach (var ingredient in ingredients)
                {
                    <option value="@ingredient.Id">@ingredient.Name</option>
                }
            </InputSelect>

            @if (measurementType == MeasurementType.Count)
            {
                <p>Count</p>
                <div>
                    <input @bind="qIngredient.QuantityNumber" />
                    <InputSelect @bind-Value="qIngredient.Fraction">
                        @foreach (var fraction in Enum.GetValues(typeof(Fraction)))
                                {
                            <option value="@fraction">@fraction</option>
                                }
                    </InputSelect>
                </div>
            }
            else if (measurementType == MeasurementType.Volume)
            {
                <p>Volume</p>
                <InputSelect @bind-Value="qIngredient.Fraction">
                    @foreach (var fraction in Enum.GetValues(typeof(Fraction)))
                            {
                        <option value="@fraction">@fraction</option>
                            }
                </InputSelect>
                <InputSelect @bind-Value="qIngredient.VolumeMeasurementUnit">
                    @foreach (var unit in Enum.GetValues(typeof(VolumeMeasurementUnit)))
                            {
                        <option value="@unit">@unit</option>
                            }
                </InputSelect>
            }
            else if (measurementType == MeasurementType.Mass)
            {
                <p>Mass</p>

                <InputSelect @bind-Value="qIngredient.MassMeasurementUnit">
                    @foreach (var unit in Enum.GetValues(typeof(MassMeasurementUnit)))
                            {
                        <option value="@unit">@unit</option>
                            }
                </InputSelect>
                <InputSelect @bind-Value="qIngredient.Fraction">
                    @foreach (var fraction in Enum.GetValues(typeof(Fraction)))
                            {
                        <option value="@fraction">@fraction</option>
                            }
                </InputSelect>
            }
            else
            {
                <p>please select an ingredient</p>
            }
            <button type="submit">Add Ingredient</button>
        </EditForm>
    </div>
}
@code {
    private MeasurementType? measurementType = null;
    private List<Ingredient> ingredients = new();
    protected override async Task OnInitializedAsync()
    {
        using (var context = ContextFactory.CreateDbContext())
        {
            ingredients = await context.Ingredient.ToListAsync();
        }
    }
    private QIngredient qIngredient = new QIngredient();
    public async void TypeChange(int id)
    {
        qIngredient.IngredientId = id;
        measurementType = ingredients.FirstOrDefault(i => i.Id == id).MeasurementType;
        return;
    }
    public async void CreateQIngredient()
    {
        using (var context = ContextFactory.CreateDbContext())
        {

            context.Add(qIngredient);
            await context.SaveChangesAsync();

        }
        navigationManager.NavigateTo("/recipe/index");
    }
}
